deemix
fairseq
faiss-cpu
ffmpeg-python
gradio
librosa
numpy
audio-separator[gpu]
scipy
yt_dlp
onnxruntime-gpu
praat-parselmouth
pedalboard
pydub
pyworld
requests
soundfile
torch
torchcrepe
tqdm
torchfcpe
local_attention
ffmpeg
pyworld
torchfcpe
sox
av
pydub
